<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>385223705154-56ncil8is3339tbml5lkkiqnr2i26gh1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385223705154-56ncil8is3339tbml5lkkiqnr2i26gh1</string>
	<key>API_KEY</key>
	<string>AIzaSyAGPhR_Rse7gQEPl2dNH28HpPOjK5k0sOg</string>
	<key>GCM_SENDER_ID</key>
	<string>385223705154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aspire.aspireias</string>
	<key>PROJECT_ID</key>
	<string>aspire-ias-oltest</string>
	<key>STORAGE_BUCKET</key>
	<string>aspire-ias-oltest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385223705154:ios:edfa689382d2dbd6</string>
	<key>DATABASE_URL</key>
	<string>https://aspire-ias-oltest.firebaseio.com</string>
</dict>
</plist>